{% extends "::base.html.twig" %}

{% block body %}
    <br>
    <div class="well well-sm">
        <span>Today ( {{ date }} ) you track </span>
        <span style="font-weight: bolder;">{{ hours }}</span> hours.
    </div>
{% endblock body %}
